



<div class="title">
    <div class="inner">
        
        <h1 >Web Design</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta, similique obcaecati eveniet maxime enim eius sunt culpa inventore harum mollitia necessitatibus, laborum quasi labore. Vel aperiam consequatur cupiditate repudiandae.</p>
    </div>
    
    
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSayZRV5XqQZ68FqfL_SAIQCNSKLtN6mJtfJg&usqp=CAU" alt="">
    
</div>
    <br>
    <br>

    <!-- <input class="form-control" type="text" placeholder="Enter the Details You want to display" (keyup)="getVal($event.target.value)"> -->

    <!-- <input type="text" (keyup)="getVal($event.target.value)"/> -->
    <div class="card-group">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2VifGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          
        </div>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1598928506311-c55ded91a20c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXRodW1ibmFpbHx8MTE3MTExODh8fGVufDB8fHx8&dpr=1&auto=format&fit=crop&w=291.2&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="https://images.pexels.com/photos/374631/pexels-photo-374631.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>